{% extends 'music_foto/base.html' %}
{% load custom_filters %}

{% block title %}{% if edit %}Редактировать{% else %}Добавить{% endif %} произведение{% endblock %}

{% block content %}
<h2>{% if edit %}Редактировать{% else %}Добавить{% endif %} музыкальное произведение</h2>

<!-- Отображение сообщений -->
{% if messages %}
    <div class="alert-messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Название произведения</label>
        {{ form.title|add_class:"form-control form-control-lg" }}
    </div>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">Описание произведения</label>
        {{ form.description|add_class:"form-control form-control-lg" }}
    </div>
    <div class="form-group">
        <label for="{{ form.photo.id_for_label }}">Фото</label>
        {{ form.photo|add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="{{ form.audio.id_for_label }}">Аудио файл (MP3)</label>
        {{ form.audio|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">{% if edit %}Сохранить изменения{% else %}Добавить{% endif %}</button>
</form>
{% endblock %}
