{% extends 'music_foto/base.html' %}

{% block title %}Все произведения{% endblock %}

{% block content %}
<div id="music-list" class="container">
    {% for music_piece in music_pieces %}
    <div class="music-item mb-4">
        <h2>{{ music_piece.title }}</h2>
        <p>{{ music_piece.description }}</p>
        <div class="image-container">
            <img class="music-image img-fluid" src="{{ music_piece.photo.url }}" alt="{{ music_piece.title }}" onclick="toggleFullscreen(this)">
        </div>
        <audio class="music-player" controls>
            <source src="{{ music_piece.audio.url }}" type="audio/mp3">
            Ваш браузер не поддерживает аудио элемент.
        </audio>
    </div>
    {% endfor %}
</div>

<script>
    function toggleFullscreen(imageElement) {
        const imageContainer = imageElement.closest('.image-container');
        const audio = imageContainer.nextElementSibling;
        const textElements = imageContainer.previousElementSibling.previousElementSibling;

        if (!document.fullscreenElement) {
            imageContainer.requestFullscreen().then(() => {
                imageElement.style.width = "100%";
                imageElement.style.height = "100vh";
                imageElement.style.objectFit = "cover";
                imageElement.style.cursor = "pointer";
                textElements.style.display = "none";
                audio.play();
                audio.controls = false;
            }).catch(err => {
                console.error(`Error attempting to enable fullscreen mode: ${err.message} (${err.name})`);
            });
        } else {
            document.exitFullscreen().then(() => {
                resetView(imageElement);
            }).catch(err => {
                console.error(`Error attempting to exit fullscreen mode: ${err.message} (${err.name})`);
            });
        }
    }

    function resetView(imageElement) {
        const imageContainer = imageElement.closest('.image-container');
        const audio = imageContainer.nextElementSibling;
        const textElements = imageContainer.previousElementSibling.previousElementSibling;

        imageElement.style.width = "";
        imageElement.style.height = "";
        imageElement.style.objectFit = "";
        textElements.style.display = "";
        audio.pause();
        audio.controls = true;
    }

    document.addEventListener('fullscreenchange', () => {
        if (!document.fullscreenElement) {
            const fullScreenImage = document.querySelector('.music-image[style*="height: 100vh"]');
            if (fullScreenImage) {
                resetView(fullScreenImage);
            }
        }
    });
</script>
{% endblock %}
