{% extends 'music_foto/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать в проект <br>визуализации музыкальных <br> произведений!</h1>
<br>
<p>Здесь вы можете добавлять музыкальные произведения и просматривать их.</p>

<h2>Инструкция по использованию сайта</h2>

<h3>1. Главная страница</h3>
<p>На главной странице вы видите приветственное сообщение и инструкции по использованию сайта. Вы можете перейти на другие страницы с помощью меню навигации в верхней части страницы.</p>

<h3>2. Добавление музыкального произведения</h3>
<p>Чтобы добавить музыкальное произведение, перейдите на страницу <a href="{% url 'add_music_piece' %}">"Добавить произведение"</a> из меню навигации.</p>
<ul>
    <li>Введите название произведения в соответствующее поле.</li>
    <li>Добавьте описание произведения.</li>
    <li>Загрузите фото, связанное с произведением, используя поле "Фото".</li>
    <li>Загрузите аудиофайл в формате MP3, используя поле "Аудио файл (MP3)".</li>
    <li>Нажмите кнопку "Добавить", чтобы сохранить произведение.</li>
    <li>Если информация была введена корректно, вы увидите сообщение об успешном добавлении произведения.</li>
    <li>Если произошла ошибка, вы увидите сообщение с описанием ошибки. Пожалуйста, исправьте ошибки и попробуйте снова.</li>
</ul>

<h3>3. Просмотр списка произведений</h3>
<p>Чтобы просмотреть все добавленные музыкальные произведения, перейдите на страницу <a href="{% url 'list_music_pieces' %}">"Все произведения"</a> из меню навигации.</p>
<ul>
    <li>На этой странице отображается список всех произведений в виде карточек с краткой информацией.</li>
    <li>Вы можете увидеть название произведения, дату добавления и фото.</li>
    <li>Для прослушивания произведения нажмите на кнопку "Слушать".</li>
</ul>

<h3>4. Просмотр деталей произведения</h3>
<ul>
    <li>На странице деталей вы увидите название произведения, его описание и полное изображение.</li>
    <li>Вы можете воспроизвести аудио, используя встроенный аудиоплеер.</li>
    <li>При нажатии на изображение оно увеличится на весь экран, и начнется воспроизведение музыки.</li>
    <li>Чтобы выйти из полноэкранного режима, нажмите клавишу Esc или снова кликните на изображение.</li>
</ul>

<p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами через контактную информацию внизу страницы.</p>
{% endblock %}

