{% extends 'music_foto/base.html' %}

{% block title %}Все музыкальные произведения{% endblock %}

{% block content %}
<h2 class="text-center mb-5">Список музыкальных произведений</h2>
<div class="row">
    {% for piece in music_pieces %}
    <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
            <img src="{{ piece.photo.url }}" class="card-img-top" alt="{{ piece.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ piece.title }}</h5>
                <p class="card-text">Дата добавления: {{ piece.date_added|date:"d M Y H:i" }}</p>
                <a href="{% url 'detail_music_piece' piece.id %}" class="btn btn-primary">Слушать</a>
                <a href="{% url 'edit_music_piece' piece.id %}" class="btn btn-secondary">Редактировать</a>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center">Пока нет добавленных музыкальных произведений.</p>
    {% endfor %}
</div>
{% endblock %}
